* {
    margin: 0;
    padding: 0;
}

.top-menu {
    height: 10.5vh;
    width: 100vw;
    background: white;
    border-bottom: 5px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 110px;
    height: 35px;
    background: orange;
}

.menu-buttons{
    display: flex;
}
.login-btn {
    width: 110px;
    height: 35px;
    background: green;
}

.pickup-btn {
    width: 110px;
    height: 35px;
    background: black;
}

.delivery-btn {
    width: 110px;
    height: 35px;
    background: black;
}