* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.top-menu {
    height: 70px;
    width: 100%;
    background: white;
    border-bottom: 3px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    position: fixed;
    z-index:100;
}

.logo {
    width: 110px;
    height: 35px;
    background: orange;
}

.menu-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 480px;
}

.login-btn {
    width: 110px;
    height: 35px;
    background: green;
}

.menu-btn {
    width: 160px;
    height: 42px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 4px;
}

.banner {
    width: 100%;
    height: 680px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px 0 40px;
}

.banner-text {
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 0 20px 0 20px;
}

.banner-title {
    font-size: 52px;
    font-weight: bold;
}

.banner-content {
    position: relative;
    bottom: 8px;
}

.banner-btn {
    padding: 8px;
    background: black;
    color: white;
    width: 150px;
    border-radius: 3px;
}

.sec-1 {
    height: 700px;
    width: 100%;

}

.sec-1-images {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.sec-1-images img {
    background: blue;
    width: 630px;
    height: 100%;
    
}

.sec-1-content {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 30px;
}

.sec-1-snippet {
    width: 630px;
    height: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "title btn"
    "txt nothing"
    ;
    padding-top: 24px;
}

.snippet-btn {
    grid-area: btn;
    justify-self: end;
}


.snippet-btn {
    align-self: baseline;
    padding: 8px;
    background: black;
    color: white;
    width: 150px;
    position: relative;
    border-radius: 3px;
}

.snippet-title {
    font-size: 24px;
    font-weight: bold;
    height: 30px;
}

.snippet-txt {
    height:99px;
    align-self: start;
}

.location-banner {
    width: 100%;
    height: 480px;
    background: red;
}

.sec-2 {
    height: 785px;
    width: 100%;
    background: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.sec-2-content {
    height: 735px;
    width: 100%;
    background: rgb(224, 222, 222);
    border-bottom: 2px solid grey;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

.sec-2-img {
    height: 500px;
    width: 95%;
    background: green;
}

.black-btn {
    padding: 8px;
    background: black;
    color: white;
    width: 150px;
    position: relative;
    border-radius: 3px;
}

.sec-2-btm-content {
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.sec-2-right {
    height: 95px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}


.footer-top {
    height: 50px;
    width: 100%;
}

.footer {
    height: 162px;
    width: 100%;
    background: rgb(243, 243, 243);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.nav {
    display: flex;
    list-style-type:none;
    text-decoration: none;
    width: 650px;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
}

.mini-nav {
    position: absolute;
    bottom: 37px;
    font-size: 13px;
    width: 550px;
}

a {
    text-decoration: none;
    color: black;
}

.btm-strip {
    height: 71px;
    width: 100%;
    background: black;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.btm-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 14px;
}

.middle {
    display: flex;
    gap: 17px;
}

.underline {
    text-decoration: underline;
}